<section class="footer" style="position: absolute;">

    <div class="box-container">

        <div class="box">
            <h3>about us</h3>
            <p>Veer-Pawas Tourism is one <br>of the popular Travel Agency <br>located in ,Amravati listed under
                Travel Agency in Amravati.</p>
        </div>
        <div class="box">
            <h3>branch locations</h3>
            <a href="#">india</a>
            <p>49, 1st Floor, Gulshan Plaza, <br>Rajapeth, Amravati, Maharashtra, <br> India,India - 444605</p>
        </div>
        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">book</a>
            <a href="#">packages</a>
            <a href="#">services</a>
            <a href="#">gallery</a>
            <a href="#">review</a>
            <a href="#">contact</a>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a href="https://www.facebook.com/veerpawastourism/">facebook</a>
            <a href="https://www.instagram.com/veerpawastourism?igsh=MWNjOWtjYndvMzVleg==">instagram</a>
            <a href="#">twitter</a>
            <a href="#">linkedin</a>
        </div>
    <div id="CountBox" class="flex"><%=count%></div>   
    <h1 class="credit" style="width: 100%;"> created by <span> Tejas Dhamale </span> | all rights reserved! </h1>

</section>
<!-- top to bottom scrolling  -->
<div id="totopscroller"></div>
<!-- preloader  -->
<div class="fakeLoader"></div>