<nav class="navbar navbar-expand-lg bg-body-tertiary pt-4 pb-4" style="font-size: 1.5rem; background-color: #FFB703 !important;">
    <div class="container-fluid">
        <a class="navbar-brand mb-3" href="#"><img
                src="/public/images/Logo.png" class="rounded" alt="Bootstrap" width="95"
                height="43"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <a class="navbar-brand" href="/home"><img
                    src="/public/images/Logo.png" alt="Bootstrap" width="70"
                    height="30"></a>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fst-normal" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fst-normal" aria-current="page" href="/home/book">Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fst-normal" aria-current="page" href="#">Packages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fst-normal" aria-current="page" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fst-normal" aria-current="page" href="#">Corporate Travel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fst-normal" aria-current="page" href="#">Specility Tours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fst-normal" aria-current="page" href="#">gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fst-normal" aria-current="page" href="#">review</a>
                    </li>
                </ul>
                <form class="d-flex" role="search mr-2" style="width: 36rem">
                    <input class="form-control me-2 border-primary" type="search" placeholder="Search" aria-label="Search" style="font-size: 1.5rem; background-color: transparent;"/>
                    <button class="btn btn-outline-primary" type="submit" style="font-size: 1.5rem;">Search</button>
                </form>
            </div>
          </div>
    </div>
</nav>
