<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>503  | Servcie Unavailable</title>
    <link rel="stylesheet" href="/public/css/404NotFound.css">
</head>
<body>
    <div class="container flex">
        <div class="child">
            <span>503</span>
            <span>Service Unavailable</span>
            <div class="msg">The page you are looking for is are on maintenance. please wait for furthur update as per promised, till then watch this :-><br> <a href="https://youtu.be/u7E3a5tJHZs?si=rf8MhG5K091ea4lF">Watch here</a></div>
        </div>
    </div>
</body>
</html>